body {
  background-color: rgba(173, 216, 230, 1);
}

nav {
  display: block;
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(144, 238, 144, 0.9);
  font-size: 25px;
  text-align: center;
  color: white;
  padding: 25px 16px;
}

nav a {
  padding: 50px 50px 50px 50px;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#welcome-section {
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  /*height: 100vh; left for the sake of the FCC test*/
  text-align: center;
}

#welcome-section h1 {
  text-shadow: 1px 1px #000;
  color: #fff;
  font-size: 3em;
}

p {
  border: 5px dotted rgba(249, 132, 239 ,1 );
  padding: 22px;
  width: 50%;
  text-align: center;
  display: inline-block;
}

h2 {
  background-color: rgba(249, 132, 239 ,1 );
}

#portfolios{
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100%;
  text-align: center;
}

#portfolios img {
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

#projects {
  padding-top: 0px;
  margin-top: 0px;
  height: 100%;
  display: block;
  text-align: center;
}

div.gallery {
  border: 3px dotted #aaa;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center;/* Safari 7.0+ */
  display: flex;
  align-items: center;
}

div.gallery:hover {
  border: 5px dotted rgba(249, 132, 239 ,1 );
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  display: inline-grid;
  text-align: bottom;
  width: 20%;
}

footer {
  display: block;
  text-align: center;
  background-color: rgba(144, 238, 144, 0.9);
}

footer p {
  border: hidden;
  padding: 15px 0px 10px 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .responsive {
    width: 100%;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
  nav {
  display: block;
  height: 10px;
  width: 100%;
  background-color: rgba(144, 238, 144, 0.9);
  font-size: 5px;
  text-align: center;
  color: white;
  padding: 25px 16px;
  }
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav {
  display: block;
  height: 10px;
  width: 100%;
  background-color: rgba(144, 238, 144, 0.9);
  font-size: 5px;
  text-align: center;
  color: white;
  padding: 0px;
  }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
      nav {
  display: block;
  height: 10px;
  width: 100%;
  background-color: rgba(144, 238, 144, 0.9);
  font-size: 5px;
  text-align: center;
  color: white;
  padding: 0px;
  }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 