@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}

nav {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(200, 154, 200, .5);
  font-size: 20px;
  text-align: center;
}

nav a {
  padding: 10px 50px 0px 10px;
  /*how to make text fully in middle*/
}

#welcome-section {
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
}